[user]
	name = Jason Woodland
	email = me@jasonwoodland.com
	signingkey = F2C866EAC5CE6A74
[core]
	editor = nvim
	excludesfile = /Users/jason/.gitignore_global
	abbrev = 7
	pager = diff-highlight | less
	whitespace = trailing-space
[color]
	ui = true
[format]
	pretty = "%C(magenta)%h%C(blue)%d %C(reset)%s %C(dim white)(%an)%n        %C(green)%aD %C(dim white)(%ar)%C(reset)%n"
[pager]
	; log = diff-highlight | less
	; show = diff-highlight | less
	; diff = diff-highlight | less
[alias]
	alias = !git config --get-regexp ^alias\\. | sed -e s/^alias\\.// -e s/\\ /\\ =\\ /
	a = add
	aa = add --all
	ap = add --patch
	au = add --update
	apu = add --patch --update
	bi = bisect
	bl = blame
	b = branch
	ba = branch --all
	bc = branch --contains
	bd = branch -d
	bdd = branch -D
	bf = branch --force
	bm = branch --merged
	br = branch --move
	bsh = branch --show-current
	bv = branch --verbose
	cl = clean
	cldf = clean -df
	c = commit
	ca = commit --amend
	cav = commit --amend --no-verify
	ce = commit --amend --no-edit
	cev = commit --amend --no-edit --no-verify
	cv = commit --no-verify
	cm = commit --message
	cam = commit --amend --message
	cavm = commit --amend --no-verify --message
	cvm = commit --no-verify --message
	co = checkout
	cob = checkout -b
	cobb = checkout -B
	coo = checkout --ours
	cot = checkout --theirs
	cp = cherry-pick
	cpc = cherry-pick --continue
	cps = cherry-pick --skip
	cpa = cherry-pick --abort
	d = diff
	dn = diff --name-only
	ds = diff --staged
	f = fetch
	fa = fetch --all
	is = issue
	l = log
	lg = log --graph
	la = log --all
	lag = log --all --graph
	ls = log --simplify-by-decoration
	lgs = log --graph --simplify-by-decoration
	las = log --all --simplify-by-decoration
	lags = log --all --graph --simplify-by-decoration
	m = merge
	ma = merge --abort
	mb = merge-base
	mbia = merge-base --is-ancestor
	ph = push
	phf = push --force-with-lease
	phff = push --force
	pl = pull
	plr = pull --rebase
	r = reset
	rh = reset --hard
	rs = reset --soft
	rb = rebase
	rbi = rebase --interactive
	rbc = rebase --continue
	rbs = rebase --skip
	rba = rebase --abort
	rbq = rebase --quit
	rbe = rebase --edit-todo
	rbo = rebase --onto
	rl = reflog
	rem = remote
	remv = remote --verbose
	rema = remote add
	remr = remote remove
	remsh = remote show
	repo = !gh repo view --web
	rp = repo
	res = restore
	ress = restore --staged
	rp = rev-parse
	rv = revert
	s = status
	ss = status --short
	sh = show
	sm = submodule
	sms = submodule sync
	smu = submodule update --init --recursive
	st = stash
	stk = stash --keep-index
	stkm = stash --keep-index --message
	stks = stash --keep-index --staged
	stksm = stash --keep-index --staged --message
	stm = stash --message
	sts = stash --staged
	stsm = stash --staged --message
	stl = stash list
	stsh = stash show
	stshp = stash show -p
	std = stash drop
	stp = stash pop
	sta = stash apply
	stb = stash branch
	stph = stash push
	sw = switch
	t = tag
	tc = tag --contains
	tcf = "!f() { git tag --contains $1 --sort=creatordate | head -n1; }; f"
	w = worktree
	wa = worktree add
	; wa = "!f() { git show-ref --verify --quiet refs/heads/$1 && (mkdir -p .worktrees/$1 && git worktree add .worktrees/$1 $1 || rm -r .worktrees/$1); }; f"
	wl = worktree list
	wm = worktree move
	wr = worktree remove
	issue = "!f() { \
		if [ \"$1\" ]; then \
			gh issue view --web $1; \
		else \
			issueno=\"$(git branch --show-current | grep -o '[0-9]\\+')\"; \
			if [ \"$issueno\" ]; then \
				gh issue view --web $issueno; \
			else \
				gh issue create -a @me --web -t '' -b ''; \
			fi; \
		fi; \
	}; f"
	is = issue
	pr = !gh pr view --web >/dev/null 2>&1 || gh pr create -a @me --web
	trash = "!f() { \
		git clean -n "$@" | sed -n 's/^Would remove //p' | while read -r file; do \
			echo "Trashing: $file"; \
			trash "$file"; \
		done; \
	}; f"
	tr = trash
	trdf = trash -df
[push]
	default = current
	autoSetupRemote = true
[log]
	abbrevcommit = yes
[branch]
	autoSetupMerge = always
	sort = -committerdate
[pull]
	default = current
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[init]
	defaultBranch = main
[diff]
	algorithm = histogram
[merge]
	tool = nvim -d
	conflictstyle = diff3
[mergetool]
	prompt = false
[http]
	postBuffer = 524288000
[commit]
	gpgsign = true
	verbose = true
[gpg]
	program = /opt/homebrew/bin/gpg
