[user]
	name = Jason Woodland
	email = me@jasonwoodland.com
	signingkey = F2C866EAC5CE6A74
[core]
	editor = nvim
	excludesfile = /Users/jason/.gitignore_global
	abbrev = 7
[color]
	ui = true
[format]
	pretty = "%C(magenta)%h%C(blue)%d %C(reset)%s %C(dim white)(%an)%n        %C(green)%aD %C(dim white)(%ar)%C(reset)%n"
[alias]
	alias = !git config --get-regexp ^alias\\. | sed -e s/^alias\\.// -e s/\\ /\\ =\\ /
	a = add
	aa = add --all
	ap = add --patch
	au = add --update
	gapu = add --patch --update
	bi = bisect
	bl = blame
	b = branch
	ba = branch --all
	bc = branch --contains
	bd = branch -d
	bdd = branch -D
	bm = branch --move
	bs = branch --show-current
	bv = branch --verbose
	cl = clean
	cldf = clean -df
	c = commit
	ca = commit --amend
	cav = commit --amend --no-verify
	ce = commit --amend --no-edit
	cev = commit --amend --no-edit --no-verify
	cv = commit --no-verify
	cm = commit --message
	cam = commit --amend --message
	cavm = commit --amend --no-verify --message
	cvm = commit --no-verify --message
	co = checkout
	cob = checkout -b
	coo = checkout --ours
	cot = checkout --theirs
	cp = cherry-pick
	cpc = cherry-pick --continue
	cps = cherry-pick --skip
	cpa = cherry-pick --abort
	d = diff
	dn = diff --name-only
	ds = diff --staged
	f = fetch
	fa = fetch --all
	is = issue
	l = log
	lg = log --graph
	la = log --all
	lag = log --all --graph
	m = merge
	ma = merge --abort
	mb = merge-base
	mbia = merge-base --is-ancestor
	ph = push
	phf = push --force
	pl = pull
	plr = pull --rebase
	r = reset
	rh = reset --hard
	rs = reset --soft
	rb = rebase
	rbi = rebase --interactive
	rbc = rebase --continue
	rbs = rebase --skip
	rba = rebase --abort
	rbq = rebase --quit
	rbe = rebase --edit-todo
	rbo = rebase --onto
	rl = reflog
	ref = reflog
	repo = !gh repo view --web
	rp = repo
	res = restore
	ress = restore --staged
	rv = revert
	s = status
	sh = show
	sm = submodule
	sms = submodule sync
	smu = submodule update --init --recursive
	st = stash
	stk = stash --keep-index
	stkm = stash --keep-index --message
	stks = stash --keep-index --staged
	stksm = stash --keep-index --staged --message
	stm = stash --message
	sts = stash --staged
	stsm = stash --staged --message
	stl = stash list
	stw = stash show
	stsw = stash show -p
	std = stash drop
	stp = stash pop
	sta = stash apply
	stb = stash branch
	stph = stash push
	sw = switch
	t = tag
	tc = tag --contains
	tcf = "!f() { git tag --contains $1 --sort=creatordate | head -n1; }; f"
	issue = "!f() { \
		if [ \"$1\" ]; then \
			gh issue view --web $1; \
		else \
			issueno=\"$(git branch --show-current | grep -o '[0-9]\\+')\"; \
			if [ \"$issueno\" ]; then \
				gh issue view --web $issueno; \
			else \
				gh issue create -a @me --web -t '' -b ''; \
			fi; \
		fi; \
	}; f"
	pr = !gh pr view --web >/dev/null 2>&1 || gh pr create -a @me --web
[push]
	default = current
[log]
	abbrevcommit = yes
[branch]
	autosetupmerge = always
[pull]
	default = current
	rebase = false
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[init]
	defaultBranch = main
[diff]
	algorithm = histogram
[merge]
	tool = nvim -d
	conflictstyle = diff3
[mergetool]
	prompt = false
[http]
	postBuffer = 524288000
[commit]
	gpgsign = true
